.container-card {
  position: relative;
  top: -340px;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgb(179, 179, 179) 0px 2px 5px 1px;
  width: 33rem;
  margin: 20px;
  padding: 20px;
}
.card h1 {
  background: #fff;
  padding: 15px;
  position: relative;
  border-radius: 5px;
  top: -65px;
}
.card h3 {
  font-size: 50px;
}
